.apple1 {
  position: absolute;
  top: 40%;
  left: 51%;
}

.apple2 {
  position: absolute;
  top: 40%;
  left: 47%;
}

.apple3 {
  position: absolute;
  top: 38%;
  left: 49%;
}

.apple4 {
  position: absolute;
  top: 37%;
  left: 52%;
}
