.apple1 {
  position: absolute;
  top: 40%;
  left: 51%;
}

.apple2 {
  position: absolute;
  top: 38%;
  left: 47%;
}

.apple3 {
  position: absolute;
  top: 10%;
  left: 49%;
}

.apple4 {
  position: absolute;
  top: 21%;
  left: 51%;
}
