body {
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/f4/65/3b/f4653bb8d5ac48727241c1a1742da545.jpg);
  color: whitesmoke;
}

.shakeBtn {
  color: white;
  background-color: rgb(197, 77, 77);
  border: none;
  margin-top: 2%;
  width: 100px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
}

.shaked {
  animation: shake 0.5s ease;
}

.fallen {
  animation: fall 1s ease forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fall {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 220px);
  }
  100% {
    transform: translate(180px, 170px);
  }
}
